@font-face {
    font-family: JingleBells;
    src: url('../Fonts/jingle-bells.regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LapsusPro;
    src: url('../Fonts/lapsus-pro.bold.otf');
    font-weight: normal;
    font-style: normal;
}


/* ----------------------------------------------------Genereal */

* {
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    overflow-x: hidden;
    background-color: white;
    margin: auto;
    padding: auto;
    font-size: 0px;
}

.template {
    display: none;
}


/* --------------------------------------------Header/nav */

header {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: JingleBells;
    box-sizing: border-box;
    background-color: #02c1b8;
    border-bottom: 5px solid #03746e;
    width: 100vw;
    height: 15vh;
    margin: 0 0 60px 0;
    padding: 0px 0 20px 0;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#scanimal {
    background-image: url("../images/Scanimal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#edugames {
    background-image: url("../images/Edugameswhite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Logo {
    width: 340px;
    height: 55px;
}

.Logo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

header a.Nav {
    font-size: 32px;
    font-weight: bold;
    color: white;
    padding: 0 35px 0 35px;
}

header a:hover {
    text-decoration: underline;
    color: white;
}


/* --------------------------------------------Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03746e;
    width: 100vw;
    height: 10vh;
}

.footer p {
    font-family: JingleBells;
    font-size: 25px;
    color: white;
    padding: 15px 0 15px 0;
}

.SocialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 10vw;
    max-height: 5vh;
}

.SocialMedia p {
    padding-right: 1vw;
}

.SocialMedia img {
    width: 2.5vw;
    margin: 0.5vw;
}


/* --------------------------------------------Arrow */

.Arrowup {
    font-family: JingleBells;
    font-size: 30px;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: #ff5800;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px 0px 5px;
    border-radius: 10px;
}

.Arrowup img {
    width: 5vw;
}

.Arrowup:hover {
    background-color: rgb(250, 155, 0);
}


/* ----------------------------------------------------Home */

.steptitle div {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.steptitle h1:first-child {
    display: flex;
    justify-content: center;
    font-family: LapsusPro;
    color: black;
    font-size: 70px;
    margin-bottom: 20px;
}

.steptitle h1 {
    display: flex;
    justify-content: center;
    font-family: LapsusPro;
    color: black;
    font-size: 45px;
}

.Steps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    padding-bottom: 10vh;
    background-image: url("../images/Background/01_Leaf_02-01.png");
    background-repeat: repeat;
    background-size: contain;
}

.Steps ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px 0 20px;
    margin-top: 20px;
    width: 80vw;
}

.Steps img {
    border: #029189 solid 2px;
    height: 230px;
}

.Packages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #029189;
    border-top: 5px solid #03746e;
    width: 100vw;
    padding-top: 30px;
}

.Packages h1 {
    font-family: LapsusPro;
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin: 0px;
}

.Packages p {
    font-family: JingleBells;
    font-size: 30px;
    color: white;
}

.Packages ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-bottom: 25px;
}

.Packages li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Packages img {
    width: 322px;
    height: 267px;
}

.Packages img:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/* ----------------------------------------------------About */

.TeamFoto {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100vw;
}

.TeamFoto .DIV {
    background-image: url("../images/Background/01_Cactus-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 30px;
}

.TeamFoto h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: LapsusPro;
    font-size: 60px;
    margin-top: 0px;
}

.TeamFoto p {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: JingleBells;
    font-size: 25px;
    margin: 0px;
}

.Teambox {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Teammembers {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    margin-top: 20vh;
}

.member {
    width: 15vw;
    margin: 10px;
}

.member:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#TeamFoto {
    width: 100vw;
}


/* ----------------------------------------------------Cause */

.Cause {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100vw;
}

.Cause h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: LapsusPro;
    font-size: 60px;
    margin-top: 0px;
}

.Causebox {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding-top: 30px;
    background-image: url("../images/Background/01_Leaf_01-01.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.Textbox {
    width: 32vw;
}

.Textbox p {
    background-color: white;
    border: black solid;
    border-style: dashed;
    border-radius: 10%;
    padding: 5vh 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: JingleBells;
    font-size: 25px;
    margin: 0px;
}

.Mascotbox {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40vw;
}

#TextBalloon {
    position: absolute;
    z-index: -1;
    width: 47vw;
    left: 10vw;
    top: 15vh;
}

#Mascot {
    max-width: 450px;
    width: 30vw;
    min-width: 300px;
}


/* ----------------------------------------------------Packages */

.Packagespage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    padding-top: 30px;
    background-image: url("../images/Background/01_Monsterat-01.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.Packagespage h1 {
    font-family: LapsusPro;
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin: 0px;
}

.Packagespage p {
    font-family: JingleBells;
    font-size: 30px;
    color: black;
}

.Proceduretext {
    padding-left: 15vw;
    padding-bottom: 10px;
}

.Proceduretext li {
    display: list-item;
    list-style-type: circle;
    font-family: JingleBells;
    font-size: 25px;
    color: black;
}

.Packageschoose {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #029189;
    border-top: 5px solid #03746e;
    width: 100vw;
    padding: 30px 0px 30px 0px;
}

.Packageschoose li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Packageschoose img {
    width: 322px;
    height: 267px;
}

.Packageschoose img:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/*---------------------------------------------------Package Buy*/

.PackagespageBuy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    padding-top: 30px;
    background-image: url("../images/Background/01_Monsterat-01.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.PackagespageBuy h1 {
    font-family: LapsusPro;
    font-size: 60px;
    font-weight: bold;
    color: black;
}

.PackagespageBuy p {
    font-family: JingleBells;
    font-size: 35px;
    color: black;
    margin-bottom: 0 0 10px 0;
    padding-right: 10px;
}

.PackagespageBuy form {
    margin-bottom: 30px;
}

.Column {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Column input {
    height: 50px;
    padding: 5px;
    font-size: 20px;
    margin-right: 15px;
    border-radius: 25%;
    border: 5px solid #03746e;
}

.Column section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Column.information section {
    align-items: flex-start;
}

.Column li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: list-item;
    list-style-type: circle;
    font-family: JingleBells;
    font-size: 25px;
    color: white;
}

.Column ul {
    background-color: #03746e;
    border-radius: 5%;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 3vw 15px 3vw;
    margin-right: 5vw;
}

.Column button {
    font-family: JingleBells;
    font-size: 30px;
    color: white;
    border-radius: 25%;
    background-color: #ff5800;
    padding: 5px 15px;
    margin: 0px 10px 20px 10px
}

.Column button:hover {
    background-color: rgb(250, 155, 0);
}


/* ----------------------------------------------------Merch */

.backgroundMerch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    background-image: url("../images/Background/01_Leaf_01-01.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.backgroundMerch h1 {
    font-family: LapsusPro;
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin: 0px;
    padding-bottom: 20px;
}

.Merch {
    max-width: 100vw;
}

.MerchBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    max-width: 100vw;
}


/*--------------------------------------------------MERCH > PICTURES*/

.pictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    transition: 0.2s;
}

.pictures img {
    width: 340px;
    margin: 10px;
    padding: 10px;
    border: #029189 solid 10px;
    background-color: white;
}

.pictures img.wide {
    width: 390px;
}

.pictures img:hover {
    opacity: 0.7;
    width: 350px;
    transition: 2s;
}

.pictures img.wide:hover {
    opacity: 0.7;
    width: 400px;
    transition: 1s;
}